/* For error messaging on forms */

.error {
    color: red;
    display: none;
    font-style: italic;
}

/* For dog picture */
.img-fluid {
    max-width: 90%;
    height: auto;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.img-fluid:hover {
    transform: scale(1.05);
}

/* Button styling */

.button {
    background-color: brown;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: lightcoral; 
}